apiVersion: v1
kind: Secret
metadata:
  name: litellm-secrets
  namespace: default
type: Opaque
stringData:
  AZURE_API_KEY: ""
  AZURE_API_BASE: "https://sprint1-resource.openai.azure.com/"
  AZURE_API_VERSION: "2024-02-15-preview"
  AZURE_FOUNDRY_API_KEY: ""
  AZURE_FOUNDRY_API_BASE: "https://sprint1-resource.openai.azure.com/"
  AZURE_FOUNDRY_API_VERSION: "2024-02-15-preview"
  AZURE_GPT4_DEPLOYMENT: "gpt-4"
  AZURE_GPT5_DEPLOYMENT: "gpt-35-turbo"
  GATEWAY_API_KEY: "sk-antigravity-12345"
